<div
  class="flex min-h-full flex-col rounded-md shadow-sm shadow-smokyBlack justify-center sm:mx-14 px-6 py-6 lg:px-10">
  <div class="sm:mx-auto sm:w-72 sm:max-w-sm">
    <h2 class="mt-2 text-2xl tracking-tight text-smokyBlack">Welcome!</h2>
    <h2 class="mt-6 text-2xl font-bold leading-9 tracking-wide text-smokyBlack">Have you forgotten your password?</h2>
    <h2 class="tracking-tight text-smokyBlack">Please complete the following form.</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" (ngSubmit)="recover()" (keydown.enter)="recover()">
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-smokyBlack">Email</label>
        <div class="mt-2">
          <input id="email" name="email" type="text" autocomplete="email" placeholder="Enter your email"
            required #email
            class="block w-full rounded-md border-0 p-2 text-smokyBlack shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-uclaBlue sm:text-sm sm:leading-6">
        </div>
      </div>
      <div>
        <label for="squestion" class="block text-sm font-medium leading-6 text-smokyBlack">Security Question</label>
        <div>
          <div class="mt-2">
            <select name="question" id="question" #questionSelect class="block w-full rounded-md border-0 p-2 text-smokyBlack shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-uclaBlue sm:text-sm sm:leading-6" required>
              <option value="" class="text-gray-400" disabled selected>Select your question</option>
              <option value="What is your favorite color?">What is your favorite color?</option>
              <option value="What is your pet's name?">What is your pet's name?</option>
              <option value="What was your favorite shool subject?">What was your favorite shool subject?</option>
            </select>
          </div>
        </div>
        <div class="mt-2">
          <input id="qAnswer" name="qAnswer" type="text" placeholder="Question answer"
            required #qAnswer
            class="block w-full rounded-md border-0 p-2 text-smokyBlack shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-uclaBlue sm:text-sm sm:leading-6">
        </div>
      </div>


      <div>
        <label for="newPassword" class="block text-sm font-medium leading-6 text-smokyBlack">New Password</label>
        <div class="mt-2">
          <input id="newPassword" name="newPassword" type="password" autocomplete="current-password"
            placeholder="Enter your new password" required #newPassword
            class="block w-full rounded-md border-0 p-2 text-smokyBlack shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-uclaBlue sm:text-sm sm:leading-6">
        </div>
      </div>
      <div>
        <app-button width="large" color="primary" text="Change Password" (buttonClick)="recover()" />
      </div>
    </form>
    <p class="mt-10 text-center text-sm text-gray-500">
      Don't have any account?
      <a href="/signup" class="font-semibold leading-6 text-uclaBlue hover:text-uclaBlue hover:underline">Register</a>
    </p>
  </div>
</div>