<div
  class="flex min-h-full flex-col rounded-md shadow-sm shadow-smokyBlack justify-center sm:mx-14 px-6 py-6 lg:px-10">
  <div class="sm:mx-auto sm:w-72 sm:max-w-sm">
    <h2 class="mt-2 text-2xl tracking-tight text-smokyBlack">Welcome !</h2>
    <h2 class="mt-6 text-2xl font-bold leading-9 tracking-wide text-smokyBlack">Sign in to</h2>
    <h2 class="tracking-tight text-smokyBlack">Please enter your cretentials to log in.</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" (ngSubmit)="login({username:username.value, password:password.value})">
      <div>
        <label for="username" class="block text-sm font-medium leading-6 text-smokyBlack">Username</label>
        <div class="mt-2">
          <input id="username" name="username" type="text" autocomplete="nickname" placeholder="Enter your username"
            required #username
            class="block w-full rounded-md border-0 p-2 text-smokyBlack shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-uclaBlue sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium leading-6 text-smokyBlack">Password</label>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password"
            placeholder="Enter your password" required #password
            class="block w-full rounded-md border-0 p-2 text-smokyBlack shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-uclaBlue sm:text-sm sm:leading-6">
        </div>
        <div class="mt-2 text-sm text-end">
          <a href="#" class="text-gray-500 hover:text-uclaBlue hover:underline">Forgot password?</a>
        </div>
      </div>

      <div>
        <app-button width="large" color="primary" text="Log in" (buttonClick)='login({username:username.value, password:password.value})' />
      </div>
    </form>

    @if (alertText != '') {
      <app-simple-alert [type]="alertType" [text]="alertText"></app-simple-alert>
    }
    <p class="mt-10 text-center text-sm text-gray-500">
      Don't have any account?
      <a href="/signup" class="font-semibold leading-6 text-uclaBlue hover:text-uclaBlue hover:underline">Register</a>
    </p>
  </div>
</div>