<section class="py-16 mt-14 text-center">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-bold mb-14">Why Shop With Us?</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shield-check mx-auto mb-7" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6DD2A5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M11.46 20.846a12 12 0 0 1 -7.96 -14.846a12 12 0 0 0 8.5 -3a12 12 0 0 0 8.5 3a12 12 0 0 1 -.09 7.06" />
                <path d="M15 19l2 2l4 -4" />
            </svg>
            <h3 class="text-2xl font-semibold text-smokyBlack">Quality Products</h3>
            <p class="text-gray-600">Experience top-tier craftsmanship and innovation with our curated selection of premium products, designed to meet the highest standards of quality and performance. Shop with confidence knowing each item is built to last.</p>
        </div>

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-receipt-2 mx-auto mb-6" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6DD2A5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2" />
                <path d="M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5" />
            </svg>
            <h3 class="text-2xl font-semibold text-smokyBlack">Affordable Prices</h3>
            <p class="text-gray-600">Get the best value for your money with our competitive pricing. We believe that cutting-edge technology and stylish designs should be accessible to everyone, without compromising on quality.</p>
        </div>

        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-question mx-auto mb-6" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6DD2A5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5" />
                <path d="M19 22v.01" />
                <path d="M19 19a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" />
            </svg>
            <h3 class="text-2xl font-semibold text-smokyBlack">24/7 Support</h3>
            <p class="text-gray-600">Our dedicated support team is here for you around the clock. Whether you need help with your purchase or have any questions, we're always just a call or click away, ready to assist you anytime, day or night.</p>
        </div>
      </div>
    </div>
</section>