<section class="font-[sans-serif] bg-gray-100">
  <div class="p-4 mx-auto lg:max-w-7xl sm:max-w-full">

    <!-- Breadcrumbs -->
    <nav class="flex mb-4" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a [routerLink]="['/']" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 1.38l7.78 7.78-1.42 1.42L10 4.22 3.64 10.58l-1.42-1.42L10 1.38z"></path>
              <path d="M3 10v7h4v-5h6v5h4v-7l-7-7-7 7z"></path>
            </svg>
            Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 12l2-2 6 6M16 6l2 2"></path>
            </svg>
            <a href="/products" class="inline-flex items-center text-sm font-medium text-gray-700  hover:text-blue-600">Shop List</a>
          </div>
        </li>

        <li *ngIf="selectedCategory">
          <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 12l2-2 6 6M16 6l2 2"></path>
            </svg>
            <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2">{{ selectedCategory | titlecase }}</span>
          </div>
        </li>
      </ol>
    </nav>

    <h2 class="text-3xl md:text-4xl font-bold text-gray-800 text-center">Shop List</h2>
    <p class="text-center p-4 md:p-7 text-sm text-gray-600 opacity-70">Discover our exclusive collection of top-rated products, carefully curated to meet your everyday needs. From cutting-edge electronics to stylish fashion, explore a variety of categories and find exactly what you're looking for. Shop now and enjoy quality, value, and convenience all in one place.</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

      <div class="lg:col-span-3">

        <div class="flex flex-wrap justify-between items-center mb-4 space-y-4 md:space-y-0">

          <!-- categories -->
          <div class="w-full md:w-auto">
            <label for="categoryFilter" class="mr-2 text-sm">Filter by Category:</label>
            <select id="categoryFilter" (change)="filterByCategory($event)" class="border border-gray-300 rounded-lg px-4 py-2 w-full md:w-auto">
              <option value="" class="text-opacity-20 text-smokyBlack">All Categories</option>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
          </div>

          <!-- Sort by -->
          <div class="w-full md:w-auto">
            <label for="sortOptions" class="mr-2 text-sm">Sort By:</label>
            <select id="sortOptions" (change)="sortProducts($event)" class="border border-gray-300 rounded-lg px-4 py-2 w-full md:w-auto">
              <option value="setDefault">Default Order</option>
              <option value="nameAsc">Name (A-Z)</option>
              <option value="nameDesc">Name (Z-A)</option>
              <option value="priceAsc">Price (Low to High)</option>
              <option value="priceDesc">Price (High to Low)</option>
            </select>
          </div>
        </div>

        <!-- Products (main section) -->
        <div *ngIf="filteredProducts.length > 0; else noProducts" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">

          <!-- Product detail -->
          <div *ngFor="let product of filteredProducts.slice(0, displayCount)" class="bg-white rounded-2xl p-5 cursor-pointer hover:-translate-y-2 transition-all relative hover:shadow-xl hover:shadow-timberWolf">
            <a [routerLink]="['/products', product.id]" class="block">
              <!-- favorite btn -->
              <div class="bg-gray-100 w-10 h-10 flex items-center justify-center rounded-full cursor-pointer absolute top-4 right-4">
                <button (click)="addToWishList(product.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16px" class="fill-red-800 inline-block" viewBox="0 0 64 64">
                    <path d="M45.5 4A18.53 18.53 0 0 0 32 9.86 18.5 18.5 0 0 0 0 22.5C0 40.92 29.71 59 31 59.71a2 2 0 0 0 2.06 0C34.29 59 64 40.92 64 22.5A18.52 18.52 0 0 0 45.5 4ZM32 55.64C26.83 52.34 4 36.92 4 22.5a14.5 14.5 0 0 1 26.36-8.33 2 2 0 0 0 3.27 0A14.5 14.5 0 0 1 60 22.5c0 14.41-22.83 29.83-28 33.14Z"></path>
                  </svg>
                </button>
              </div>
  
              <div class="w-5/6 h-[210px] overflow-hidden mx-auto aspect-w-16 aspect-h-8 md:mb-2 mb-4">
                <img [src]="product.image" alt="{{ product.title }}" class="h-full w-full object-contain" />
              </div>
  
              <div>
                <h3 class="text-lg font-extrabold text-gray-800">{{ product.title }}</h3>
                <h4 class="text-lg text-gray-800 font-bold mt-4 text-center">{{ product.price | currency }}</h4>
              </div>
            </a>
          </div>
        </div>

        <div class="mt-8 text-center space-x-4" *ngIf="filteredProducts.length > 0">
          <button *ngIf="displayCount >= 6 && filteredProducts.length >= 6"  (click)="loadMoreProducts()" class="px-4 py-2 bg-uclaBlue text-white rounded-lg hover:bg-blue-900">
            Load More Products
          </button>
        
          <button *ngIf="displayCount > 6 && filteredProducts.length > 6" (click)="loadLessProducts()" class="px-4 py-2 bg-uclaBlue text-white rounded-lg hover:bg-blue-900">
            Load Less Products
          </button>
        </div>
 

        <ng-template #noProducts>
          <div class="flex flex-col items-center justify-center py-10">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-24 h-24 text-gray-500 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 8V12m0 4h.01M19 12c0 1.1-.9 2-2 2H7c-1.1 0-2-.9-2-2V9a2 2 0 012-2h10c1.1 0 2 .9 2 2v3zM12 16h.01M12 8V12m0 4h.01M12 8V12m0 4h.01M12 8V12m0 4h.01M12 8V12m0 4h.01"/>
            </svg>
        
            <!-- Search error msg -->
            <h2 class="text-2xl font-bold text-gray-700 mb-2">No products found</h2>
            
            <p class="text-gray-500 mb-6 text-center">
              It seems that there are no products with those characteristics at this time.
            </p>
        
            <a href="/products" class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition-colors">
              Explore Other Products
            </a>
          </div>
        </ng-template>
        
      </div>
    </div>
  </div>
</section>
