<section class="flex flex-col py-6 px-4 gap-4">
  <div class="flex gap-8 items-center justify-between sm:px-6">
    <a href="/employee-portal" class="start-0 flex">
      <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#372cc9"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevrons-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M11 7l-5 5l5 5" />
        <path d="M17 7l-5 5l5 5" />
      </svg> 
      Employee Portal
    </a>
    <div class="font-semibold mx-auto sm:font-bold sm:text-xl lg:text-2xl">Users List</div>    
  </div>
  <div class="max-w-full">
    <table class="w-full text-left border border-separate rounded border-slate-200" cellspacing="0">
      <tbody>
        <tr>
          <th scope="col" class="hidden h-12 px-6 text-sm font-semibold border-l sm:table-cell first:border-l-0 stroke-slate-800 text-smokyBlack bg-slate-100">UserID</th>
          <th scope="col" class="hidden h-12 px-6 text-sm font-semibold border-l sm:table-cell first:border-l-0 stroke-slate-800 text-smokyBlack bg-slate-100">Username</th>
          <th scope="col" class="hidden h-12 px-6 text-sm font-semibold border-l sm:table-cell first:border-l-0 stroke-slate-800 text-smokyBlack bg-slate-100">Email</th>
          <th scope="col" class="hidden h-12 px-6 text-sm font-semibold border-l sm:table-cell first:border-l-0 stroke-slate-800 text-smokyBlack bg-slate-100">Role</th>
        </tr>
        <tr *ngFor="let user of userList; let i = index" 
        [ngClass]="{'bg-stone-100': i % 2 === 0, 'bg-white': i % 2 !== 0}" class="block border-b sm:table-row last:border-b-0 border-slate-200 sm:border-none hover:bg-timberWolf">
          <td data-th="UserID" class="before:w-24 before:inline-block before:font-semibold before:text-smokyBlack before:content-[attr(data-th)':'] sm:before:content-none flex items-center sm:table-cell h-12 px-6 text-sm transition duration-300 sm:border-t sm:border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-700 ">{{user.user_id|truncate:8}}</td>
          <td data-th="Username" class="before:w-24 before:inline-block before:font-semibold before:text-smokyBlack before:content-[attr(data-th)':'] sm:before:content-none flex items-center sm:table-cell h-12 px-6 text-sm transition duration-300 sm:border-t sm:border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-700 ">{{user.username}}</td>
          <td data-th="Email" class="before:w-24 before:inline-block before:font-semibold before:text-smokyBlack before:content-[attr(data-th)':'] sm:before:content-none flex items-center sm:table-cell h-12 px-6 text-sm transition duration-300 sm:border-t sm:border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-700 ">{{user.email}}</td>
          <td data-th="Role" class="before:w-24 before:inline-block before:font-semibold before:text-smokyBlack before:content-[attr(data-th)':'] sm:before:content-none flex items-center sm:table-cell h-12 px-6 text-sm transition duration-300 sm:border-t sm:border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-700 ">{{user.role}}</td>       
        </tr>
      </tbody>
    </table>
  </div>
</section>